
<!DOCTYPE HTML>
<!--
	Polymorph by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>LINK AUTO - 자동차 전문가와 연결하다</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/scrollanim.css"/>
		
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">

			<header id="header">
				<div class="title-logo">
					<a href="index.html" class="title"> 
						<img id="nav-logo" src="images/logo.png"/>
					</a>
				</div>
				<nav id="nav">
					<ul>
						<li><a href="index.html">홈</a></li>
						<li>
							<a href="#" class="dropdown">특별 상품</a>
							<ul>											
								<li><a href="hotdeal.html">HOT DEAL</a></li>
								<li><a href="ranking.html">RANKING</a></li>
							</ul>
						</li>									
						<li><a href="estimate.html">견적 요청</a></li>
						<li><a href="sell.html">내 차 팔기</a></li>
						<li><a href="direct.html">다이렉트 보험</a></li>
					</ul>
				</nav>
			</header>

			<!-- <section id="banner">
				<article class="full full-expanded" >
					<img src="images/bg_main.png"/>
					<div class="content">
						<img id="main-logo-image" src="images/logo_white.png" />
						<br/><br/>
						<h3>자동차 브랜드, 자동차 금융 전문가와</h3>
						<h2>연결하다</h2>
						<br>
						<ul class="actions">
							<li>
								<a href="왜여기로올까" class="button">
									<span class="main-box-text"> 
										<span class="fa fa-android"></span> 	
										&nbsp;&nbsp;안드로이드 앱
									</span>
								</a>
							</li>
						</ul>						
					</div>
				</article>
			</section> -->


			<!-- carousel -->
			<section id="scroll-banner" >
				<article class="full">
					<div id="carouselIndicators" class="carousel slide" data-ride="carousel">

					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					  </ol>

					  <div class="carousel-inner" role="listbox">
					    <div class="carousel-item active" 
					    	 style="background-image: url(images/bg_2.jpg);">
							<div class="black-back item-container center-container" >
					      		<div class="center-content ">
									<!-- <p class="white-box"> -->
									<img src="images/logo_semi_white.png" width="300em" style="display:inline"/><br><br>
						      		<span id="banner1-span2">낡은 방식을 버리고  편리함으로<br>
						      		자동차 구매 시장의 중심이 됩니다.</span><br><br>						      		
						      		<span id="banner1-span3">링크오토는 자동차 구매에 필요한 딜러&amp;금융의 모든 전문가를<br>
									사용자 입장에서 간편하게 연결해주는 서비스입니다.</span><br>
									<!-- </p> -->
					      		</div>
					      	</div>					      	
					    </div>
					    <div class="carousel-item" 
					    	 style="background-image: url(images/bg_main.png);">
							<div class="black-back item-container center-container" >
					      		<div class="center-content ">									
					      			<!-- <div class="white-box"> -->
									<span class="fa fa-android" style="opacity: 0.85;font-size:15em; color: #efefef"></span>
									<br/><br/>
									<!-- <h3 style="color:white !important">자동차 브랜드, 자동차 금융 전문가와</h3>
									<h2 style="color:white !important">연결하다</h2> -->
									 <h2 style="color:white !important; line-height: 150%;">링크오토의 모든 서비스를<br>이제 모바일에서도 경험해 보세요!</h2>
									<br>
									<ul class="actions">
										<li>
											<a href="https://play.google.com/store/apps/details?id=com.robusterlab.autolink" class="button">
												<span class="main-box-text" style="color:white"> 
														
													<img src="images/play_store.png" style="width:1.5em"/> Play 스토어 바로가기
												</span>
											</a>
										</li>
									</ul>	
									<!-- </div> -->
					      		</div>
					      	</div>					      	
					    </div>

					    <div class="carousel-item" 
					    	 style="background-image: url(images/car6.jpeg);">
							<div class="black-back item-container center-container" >
					      		<div class="center-content ">
									<p class="white-box">
					      			국산차 살 때<br>
						      		<span class="span1">카드</span>로 사고<br>
						      		<span class="span2">캐쉬백</span>도 받자!
						      		<br>
						      		<a href="#" class="button" id="box">
						      			<span class="box-text">
						      			자세히 보기
						      			</span>

									</a>
						      		</p>
						      	</div>
						    </div>
					    </div>

						<div class="carousel-item" 
					    	 style="background-image: url(images/car8.jpeg);">
							<div class="black-back item-container center-container" >
					      		<div class="center-content ">
									<p class="white-box"> 
						      		제 1 금융권<br>
						      		<span class="pale-red">부담제로</span> <span class="pale-green">1Q 오토론</span>
						      		<br>						      		
						      		<a href="#" class="button" id="box">
						      			<span class="box-text">
						      			자세히 보기
						      			</span>
									</a>
						      		</p>
						      	</div>
						    </div>						    
					    </div>


					  </div>


					  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>

					  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>

					</div>
				</article>
			</section>
		</div>
		<div class="container" id="#index-page">
			
			<div id="main">				
				<section id="hot-deal" class="main" >
					<a href="hotdeal.html"><h2 class="main-section-title"><span class="bolder">|</span> 핫딜 링크<span class="more" >더 보기 <span class="fa fa-angle-right"/>&nbsp;&nbsp;</span></h2></a>

					<div class="posts">

						<article class="item">
						<div data-kui-anim="zoomIn" data-kui-event="partially">							
							<a href="estimate3.html?id=111" >
								<div class="image car-image" 
								 style="background-image: url(images/car0.png);									
										">
									<img class="logo-image" src="images/brands/벤츠.png"/> 
									<div class="discount-rate">12% <span class="small">할인</span></div>
								</div>
							</a>												
							<h2>								
								아우디 	A8 KM-S100 Sword Master
							</h2>
							
							<p class="price-original">14,730만원</p>
							<p class="price-actual">12,000만원</p>	
							<footer>
								<ul class="actions">
									<li><a href="estimate3.html?id=111" class="button">자세히 보기</a></li>
								</ul>
							</footer>
						</div>
						</article>
						
						<article class="item">
						<div data-kui-anim="zoomIn" data-kui-event="partially">								
							<a href="estimate3.html?id=111" >
								<div class="image car-image" 
								 style="background-image: url(images/car0.png);									
										">
									<img class="logo-image" src="images/brands/bmw.png"/> 
									<div class="discount-rate">12% <span class="small">할인</span></div>
								</div>
							</a>												
							<h2>								
								BMW 7 Series M760LI XDrive (17년식)
							</h2>
							
							<p class="price-original">14,730만원</p>
							<p class="price-actual">12,000만원</p>	
							<footer>
								<ul class="actions">
									<li><a href="estimate3.html?id=111" class="button">자세히 보기</a></li>
								</ul>
							</footer>
						</div>
						</article>
				</section>
				<hr>
				<section id="ranking" class="main" >
					<a href="ranking.html"><h2 class="main-section-title"><span class="bolder">|</span> 링크 순위<span class="more" >더 보기 <span class="fa fa-angle-right"/>&nbsp;&nbsp;</span></h2></a>
					<div class="ranking-item-container row">	

						<article class="rank-item col-md-4 col-sm-12 col-xs-12">
						<a href="estimate2.html?page=12#아이템번호" class="link-anchor ">
							<div class="item-image"
							 style="background: url(images/car.jpeg);">
							 	<span class="rank-number">
							 		1 위
							 	</span>
							 	<img class="logo-image" src="images/brands/기아.png" width="48px" height="48px"/> 
							 	<p class="item-price">
							 		12,200만원 ~ 13,250만원
							 	</p>
							</div>
							<div class="item-info-container row">
								<div class="item-name col-md-12">	
									<h4>																	
										K3
									</h4>
								</div>

							</div>
						</a>				
						</article>

						<article class="rank-item col-md-4 col-sm-12 col-xs-12">
						<a href="estimate2.html?page=12#아이템번호" class="link-anchor ">
							<div class="item-image"
							 style="background: url(images/car0.png);">
							 	<span class="rank-number">
							 		2 위
							 	</span>
							 	<img class="logo-image" src="images/brands/랜드로버.png" width="48px" height="48px"/> 
							 	<p class="item-price">
							 		12,200만원 ~ 13,250만원
							 	</p>
							</div>
							<div class="item-info-container row">
								<div class="item-name col-md-12">	
									<h4>																	
										레인지로버 굿굿차
									</h4>
								</div>

							</div>
						</a>				
						</article>

						<article class="rank-item col-md-4 col-sm-12 col-xs-12">
						<a href="estimate2.html?page=12#아이템번호" class="link-anchor ">
							<div class="item-image"
							 style="background: url(images/car.jpeg);">
							 	<span class="rank-number">
							 		3 위
							 	</span>
							 	<img class="logo-image" src="images/brands/아우디.png" width="48px" height="48px"/> 
							 	<p class="item-price">
							 		12,200만원 ~ 13,250만원
							 	</p>
							</div>
							<div class="item-info-container row">
								<div class="item-name col-md-12">	
									<h4>																	
										K3
									</h4>
								</div>

							</div>
						</a>				
						</article>


						<!-- <article class="rank-item col-md-4 col-sm-12 col-xs-12">
						<a href="estimate3.html?id=5124" class="link-anchor ">
								<div class="item-image"
								 style="background: url(images/car.jpeg) no-repeat center center;
								 		background-size:cover;">
								 	<span class="rank-number">
								 		3 위
								 	</span>
								 	<img class="logo-image" src="images/brands/bmw.png" width="48px" height="48px" / style="float:right;"> 
								 	<div class="item-name">
											<span class="rank-brand-temp" >기아 K3</span>
									</div>
								</div>
								<div class="item-info-container row">
									<div class="col">
										　
									</div>
									

									<div class="item-price col">
										<span class="small2">2,200<span class="small2">만원까지</span></span><br><span class="big">1,545만원<span class="small">부터</span></span>
									</div>
								</div>
						</a>				
						</article> -->






					</div>
				</section>





				
				<hr>
				<section id="bottom-banners" class="row">
					<article class="col-md-6" >
						<a href="direct.html">
						<img src="images/banner_direct.png" width="100%" />
						</a>
					</article>
					<article class="col-md-6" >
						<a href="partnership.html">
						<img src="images/banner_partnership.png" width="100%"  />
						</a>
					</article>
				</section>





			

			</div>
		</div>

		<footer id="footer">
			<div class="copyright">
				<p>&copy; Link-Auto All rights reserved. </p>
			</div>
		</footer>



		<!-- Scripts -->
		<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script><!-- 
		<script src="assets/js/jquery.min.js"></script> -->
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/scrollanim.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
<!-- 
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>
























					<!-- 		<section id="banner">
								
						<article class="half">
							<img src="images/car2.jpg" alt="" data-position="center" />
							<div class="content">
								<h2><a href="#">Hot deal</a></h2>
								<p>현재 가장 Hot한 차량을 만나보세요.</p>
								<ul class="actions">
									<li><a href="#" class="button">Full Story</a></li>
								</ul>
							</div>
						</article>
-->
					<!-- Three -->
<!-- 							<article class="half">
							<img src="images/car3.jpg" alt="" data-position="center" />
							<div class="content">
								<h2><a href="#">링크 순위</a></h2>
								<p>전문가의 추천으로 상위 랭크된 차량입니다.</p>
								<ul class="actions">
									<li><a href="#" class="button">Full Story</a></li>
								</ul>
							</div>
						</article>

				</section> -->

				<!-- Banner -->

					<!-- Post -->
						<!-- <section class="main special">
							<div class="inner">
								<header class="major">
									<span class="category">In Depth</span>
									<h2><a href="#">Etiam feugiat tempus veroeros lorem</a></h2>
									<ul class="meta">
										<li>3 days ago</li>
										<li><a href="#" class="favorites">2,174</a></li>
										<li><a href="#" class="comments">1,423</a></li>
									</ul>
								</header>
								<a href="#" class="image main"><img src="images/pic04.jpg" alt="" /></a>
								<p>In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non. Phasellus libero nibh, erat blandit, aliquet volutpat purus. Nullam pretium sed turpis lorem, ac congue orci. Donec pulvinar sagittis pellentesque. In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</footer>
							</div>
						</section> -->
